body{
    background-color: rgb(33,43,45);
    color:white;
}
footer{
    text-align: center;
}


    

header{
    background-image: url("background-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 300px;
}



li{
    text-decoration: underline;
}

.site-title{
    
    margin-left: 10%;
    font-size: 60px;
    
}

nav{
    width: 1263px;
    font-size: 60px;
    text-align: center;
    background-color: rgb(50,60,62) ;
    
}

.nav-item{
    text-decoration: none;
    color: whitesmoke;
}

.button{
    width: 80px;
    background-color: rgb(92,101,102);
}

.button-submit{
    width: 80px;
    height: 40px;
    background-color: rgb(92,101,102);
}

.menu-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-gallery-item-two{
    width: 60%;
}

.block-subscription-services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item{
    width: 400px;
}

.subscription{
    margin-left: 40.5px;
}